@import '~normalize.css';

body {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.wrapper {
    width: 100%;
    max-width: 972px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    margin: 40px 0;
}

a {
    text-decoration: none;
}
ul, li {
    margin: 0;
    padding: 0;
}