@import '~normalize.css';

body {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.wrapper {
    width: 100%;
    max-width: 972px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}